@use '../../styles/variables' as v;

/*
COMPOSANT ESTIMATE
*/

.estimate-content {
  width: 20rem;
  margin: 1.5rem auto;
  background-color: v.$color2;
  flex: 1;
  border-radius: 5px;

.estimate-title {
  background: -webkit-linear-gradient(70deg, v.$orangeColor, v.$gradientColor);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: v.$mainFont;
  text-align: center;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  font-size: 1.5rem;
}

.estimate-form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
  height: 28rem;
  width: 15rem;
}

.estimate-label {
  color: v.$whiteColor;
  font-family: v.$mainFont;
  font-size: 0.9rem;
}

.estimate-input {
  background-color: v.$color1;
  color: v.$whiteColor;
  font-family: v.$secondaryFont;
  border: solid 2px v.$whiteColor;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 0.7rem;
}

.estimate-input:focus {
  border: solid 2px v.$orangeColor;
}

.estimate-button {
  color: v.$whiteColor;
  font-family: v.$mainFont;
  background-color: v.$color3;
  border: solid 2px v.$orangeColor;
  border-radius: 0.5rem;
  margin: 1rem auto;
  width: 8rem;
  padding: 0.5rem;
  font-size: 0.8rem;
}
}

/*
AFFICHAGE QUAND NON CONNÉCTÉ
*/

.not-logged-content {
  background-color: v.$color2;
  flex: 1;
  width: 20rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

.not-logged-title {
  background: -webkit-linear-gradient(70deg, v.$orangeColor, v.$gradientColor);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: v.$mainFont;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 2rem;
}
}


/*
RESPONSIVE
*/

@media (min-width: 480px) {
  .estimate-content {
    width: 26rem;
    margin: 2rem auto;

  .estimate-title {
    padding: 1.5rem;
    font-size: 1.8rem;
  }

  .estimate-form {
    height: 30rem;
    width: 18rem;
  }

  .estimate-label {
    font-size: 1rem;
  }

  .estimate-input {
    padding: 0.6rem;
    font-size: 0.8rem;
  }

  .estimate-button {
    width: 9rem;
    padding: 0.6rem;
  }
  }

  .not-logged-content {
    width: 26rem;
    margin: 2rem auto;

  .not-logged-title {
    font-size: 1.8rem;
    margin: 10rem 2.5rem;
  }
  }
}

@media (min-width: 768px) {
  .estimate-content {
    width: 35rem;  
    margin: 2.5rem auto;

  .estimate-title {
    padding: 1.7rem;
    font-size: 2.2rem;
  }

  .estimate-form {
    height: 33rem;
    width: 21rem;
  }

  .estimate-label {
    font-size: 1.1rem;
  }

  .estimate-input {
    padding: 0.7rem;
  }

  .estimate-button {
    width: 10rem;
    padding: 0.7rem;
    font-size: 0.9rem;
  }
  }

  .not-logged-content {
    width: 35rem;
    margin: 2.5rem auto;

  .not-logged-title {
    font-size: 2.2rem;
    margin: 0 3rem;
  }
  }
}

@media (min-width: 1024px) {
  .estimate-content {
    width: 40rem;  
    margin: 3rem auto;

  .estimate-title {
    padding: 1.8rem;
    font-size: 2.3rem;
  }

  .estimate-form {
    height: 37rem;
    width: 25rem;
  }

  .estimate-label {
    font-size: 1.2rem;
  }

  .estimate-input {
    padding: 0.8rem;
    font-size: 0.9rem;
  }

  .estimate-button {
    width: 11rem;
    padding: 0.8rem;
    font-size: 1rem;
  }
  }

  .not-logged-content {
    width: 40rem;
    margin: 3rem auto;

  .not-logged-title {
    font-size: 2.3rem;
    margin: 0 3.5rem;
  }
  }
}

@media (min-width: 1200px) {
  .estimate-content {
    width: 50rem;  

  .estimate-title {
    padding: 1.9rem;
    font-size: 2.5rem;
  }

  .estimate-form {
    height: 41rem;
    width: 29rem;
  }

  .estimate-label {
    font-size: 1.3rem;
  }

  .estimate-input {
    padding: 0.9rem;
    font-size: 1rem;
  }

  .estimate-button {
    width: 12rem;
    padding: 0.9rem;
    font-size: 1.1rem;
  }
  }

  .not-logged-content {
    width: 50rem;

  .not-logged-title {
    font-size: 2.5rem;
    margin: 0 4rem;
  }
  }
}

@media (min-width: 1440px) {
  .estimate-content {
    width: 60rem;  

  .estimate-title {
    padding: 2rem;
    font-size: 3rem;
  }

  .estimate-form {
    height: 45rem;
    width: 33rem;
  }

  .estimate-label {
    font-size: 1.4rem;
  }

  .estimate-input {
    padding: 1rem;
    font-size: 1.1rem;
  }

  .estimate-button {
    width: 13rem;
    padding: 1rem;
    font-size: 1.2rem;
  }
  }

  .not-logged-content {
    width: 60rem;

  .not-logged-title {
    font-size: 3rem;
    margin: 0 5rem;
  }
  }
}