@use '../../styles/variables' as v;

/*
COMPOSANT SHIP.JSX
*/
.ship-main-title {
  background: -webkit-linear-gradient(70deg, v.$orangeColor, v.$gradientColor);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  font-family: v.$mainFont;
  text-align: center;
  margin: 1rem 1rem 0 1rem;
  padding-bottom: 1rem;
}

.ship-content {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
}

/*
SOUS-COMPOSANT SHIPCARD.JSX
*/

.ship-card {
  background-color: v.$color3;
  border: solid 2px v.$orangeColor;
  box-shadow: 0 0 1rem v.$gradientColor;
  border-radius: 0.5rem;
  height: 30rem;
  width: 20rem;
  margin: 1rem auto 1rem auto;
  // PLACER TRANSITION AILLEURS NON ??
  transition: 0.3s ease-in-out;
}

.ship-card:hover {
  box-shadow: 0 0 2rem v.$orangeColor;
}

.ship-picture {
  width: 100%;
  height: 60%;
  padding: 0.25rem;
  border-radius: 7px;
}

.ship-name {
  color: v.$orangeColor;
  font-size: calc(v.$homeFontSize * 1.25);
  font-family: v.$mainFont;
  margin: 1rem;
}

.ship-description {
  color: v.$whiteColor;
  font-family: v.$secondaryFont;
  font-size: 1.05rem;
  margin: 1rem;
  height: 4.5rem;
}

.ship-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1.5px v.$whiteColor;
  border-radius: 1rem;
  margin: auto;
  width: 8rem;
  height: 2rem;
  padding: 0.5rem;
  color: v.$whiteColor;
  font-family: v.$mainFont;
  font-size: calc(v.$homeFontSize / 1.5);
  // box-shadow: 0 0 0.5rem v.$whiteColor;
}

/*
RESPONSIVE
*/

@media (min-width: 480px) {
  .ship-main-title {
    font-size: 1.75rem;
    margin: 2rem 3rem 1rem 3rem;
    padding-bottom: 0;
  }

  .ship-card {
    height: 38rem;
    width: 28rem;
  }

  .ship-picture {
    height: 65%;
  }

  .ship-name {
    font-size: calc(v.$homeFontSize * 1.75);
    margin: 1.5rem;
  }

  .ship-description {
    font-size: 1.1rem;
    margin: 1.5rem;
    height: 3.5rem;
  }

  .ship-button {
    width: 9rem;
    height: 2.5rem;
    font-size: calc(v.$homeFontSize / 1.35);
    transition: 0.3s;
  }

  .ship-button:hover {
    box-shadow: 0 0 1rem v.$whiteColor;
    border-radius: 25px;
  }
}

@media (min-width: 768px) {
  .ship-main-title {
    font-size: 2rem;
    margin: 2rem 3rem 0.5rem 3rem;
    padding-bottom: 1rem;
  }

  .ship-card {
    height: 45rem;
    width: 35rem;
  }

  .ship-picture {
    height: 67%;
  }

  .ship-name {
    font-size: calc(v.$homeFontSize * 1.8);
    margin: 1.6rem;
  }

  .ship-description {
    font-size: 1.2rem;
    margin: 1.6rem;
  }

  .ship-button {
    width: 10rem;
    height: 3rem;
    font-size: calc(v.$homeFontSize / 1.2);
    transition: 0.2s;
  }

  .ship-button:hover {
    box-shadow: 0 0 1rem v.$whiteColor;
    border-radius: 25px;
  }
}

@media (min-width: 1024px) {
  .ship-card {
    height: 40rem;
    width: 40%;
    margin: 2rem auto 2rem auto;
  }

  .ship-picture {
    height: 65%;
  }

  .ship-name {
    font-size: calc(v.$homeFontSize * 1.6);
    margin: 1.5rem;
  }

  .ship-description {
    font-size: 1.1rem;
    margin: 1.5rem;
  }

  .ship-button {
    width: 9rem;
    height: 2rem;
    font-size: calc(v.$homeFontSize / 1.3);
  }
}

@media (min-width: 1200px) {
  .ship-card {
    height: 50rem;
    width: 40%;
    margin: 2rem auto 2rem auto;
  }

  .ship-picture {
    height: 65%;
  }

  .ship-name {
    font-size: calc(v.$homeFontSize * 1.9);
    margin: 1.7rem;
  }

  .ship-description {
    font-size: 1.3rem;
    margin: 1.7rem;
    height: 5rem;
  }

  .ship-button {
    width: 10rem;
    height: 3rem;
    font-size: calc(v.$homeFontSize / 1.2);
    transition: 0.2s;
  }
}

@media (min-width: 1440px) {
  .ship-main-title {
    font-size: 2.5rem;
    margin: 3rem 3rem 0.5rem 3rem;
  }

  .ship-card {
    height: 45rem;
    width: 30%;
  }

  .ship-picture {
    height: 67%;
  }

  .ship-name {
    font-size: calc(v.$homeFontSize * 1.8);
    margin: 1.6rem;
  }

  .ship-description {
    font-size: 1.2rem;
    margin: 1.6rem;
    height: 4rem;
  }
}