@use '../../styles/variables' as v;

/*
COMPOSANT FLASHMESSAGE
*/

.flash-message-content {
  background: v.$orangeColor;
  border: 1px solid v.$greyTextColor;
  border-radius: 5px;
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  width: 8rem;
  height: 3.5rem;

.flash-message-text {
  text-align: center;
  color: v.$whiteColor;
  font-family: v.$secondaryFont;
  font-size: 0.8rem;
  font-weight: 500;
}
}

/*
RESPONSIVE
*/

@media (min-width: 480px) {
  .flash-message-content {
    width: 8.5rem;
    height: 4rem;
  
  .flash-message-text {
    font-size: 0.9rem;
  }
  }
}

@media (min-width: 768px) {
  .flash-message-content {
    width: 9rem;
    height: 4.5rem;
  
  .flash-message-text {
    font-size: 1rem;
  }
  }
}

@media (min-width: 1024px) {
  .flash-message-content {
    width: 10rem;
    height: 5rem;
  
  .flash-message-text {
    font-size: 1.1rem;
  }
  }
}

@media (min-width: 1200px) {
  .flash-message-content {
    width: 11rem;
    height: 5.5rem;
  
  .flash-message-text {
    font-size: 1.2rem;
  }
  }
}