@use '../../styles/variables' as v;

/*
COMPOSANT APP.JSX
*/

.App {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/*
RESPONSIVE
*/

@media (min-width: 768px) {
  .App {
    padding-top: 6rem;
  }
}