@use '../../styles/variables' as v;

/*
  SPINNER
*/

.spinner-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    width: 100px;
    height: 100px;
    background-color: v.$orangeColor;
    margin: v.$homeFontSize auto;
    animation: rotateplane 1.5s infinite alternate ease-in-out;
  }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
