@use '../../../styles/variables' as v;

/*
COMPOSANT FORMSUBMIT
*/

.form-submit-content {
  background-color: v.$color2;
  flex: 1;
  width: 20rem;
  border-radius: 5px;
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;

.form-submit-title {
  background: -webkit-linear-gradient(70deg, v.$orangeColor, v.$gradientColor);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: v.$mainFont;
  text-align: center;
  font-size: 1.5rem;
  margin: 0 2rem;
  padding-bottom: 1rem;
}

.form-submit-text {
  color: v.$greyTextColor;
  font-family: v.$secondaryFont;
  font-size: 1rem;
  margin: 0 1rem 1rem 1rem;
  text-align: center;
}

.form-submit-link {
  color: v.$whiteColor;
  font-family: v.$mainFont;
  background-color: v.$color3;
  border: solid 2px v.$orangeColor;
  border-radius: 0.5rem;
  width: 7rem;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
}

/*
RESPONSIVE
*/

@media (min-width: 480px) {
  .form-submit-content {
    width: 26rem;
    margin: 2rem auto;
  
  .form-submit-title {
    font-size: 1.6rem;
  }
  
  .form-submit-text {
    margin: 0 3rem 1rem 3rem;
  }
  
  .form-submit-link {
    width: 7.5rem;
  }
  }
}


@media (min-width: 768px) {
  .form-submit-content {
    width: 35rem;  
    margin: 2.5rem auto;
  
  .form-submit-title {
    font-size: 1.7rem;
    margin: 0 4rem;
  }
  
  .form-submit-text {
    font-size: 1.1rem;
    margin: 0 4rem 1rem 4rem;
  }
  
  .form-submit-link {
    width: 8rem;
    height: 3rem;
  }
  }
}

@media (min-width: 1024px) {
  .form-submit-content {
    width: 40rem;  
    margin: 3rem auto;
  
  .form-submit-title {
    font-size: 1.8rem;
  }
  
  .form-submit-text {
    font-size: 1.2rem;
    margin: 0 4.5rem 1rem 4.5rem;
  }
  
  .form-submit-link {
    width: 9rem;
    height: 3.5rem;
    font-size: 0.9rem;
  }
  }
}

@media (min-width: 1200px) {
  .form-submit-content {
    width: 50rem;  
  
  .form-submit-title {
    font-size: 1.9rem;
  }
  
  .form-submit-text {
    font-size: 1.3rem;
    margin: 0 5rem 1rem 5rem;
  }
  
  .form-submit-link {
    width: 10rem;
    height: 4rem;
    font-size: 1rem;
  }
  }
}

@media (min-width: 1440px) {
  .form-submit-content {
    width: 60rem;
  
  .form-submit-title {
    font-size: 2rem;
    margin: 0 6rem;
  }
  
  .form-submit-text {
    font-size: 1.4rem;
    margin: 0 6rem 1rem 6rem;
  }
  
  .form-submit-link {
    width: 10rem;
    height: 4rem;
    font-size: 1.1rem;
  }
  }
}