@use '../../styles/variables' as v;

/*
COMPOSANT HOME.JSX
*/

/*
SOUS-COMPOSANT HOMEPARTS.JSX
*/

.home-parts-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.first-image {
  width: 55%;
  margin: 10%;
}

.second-image {
  width: 70%;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.third-image {
  width: 65%;
  margin: 10vh 0 5vh 10%;
}

.secondary-title {
  background: -webkit-linear-gradient(180deg, v.$orangeColor, v.$color1);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(v.$homeFontSize * 1.5);
  font-family: v.$mainFont;
  text-align: center;
}

.secondary-text {
  font-family: v.$secondaryFont;
  font-size: v.$homeFontSize;
  text-align: center;
  color: rgb(200, 197, 197);
  margin: 5%;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px v.$whiteColor;
  color: v.$whiteColor;
  font-family: v.$secondaryFont;
  background-color: v.$color1;
  width: 45%;
  height: 6vh;
  border-radius: 25px;
  margin: 5%;
}

/*
RESPONSIVE
*/
