@use '../../styles/variables' as v;

/*
COMPOSANT HOME.JSX
*/

/*
SOUS-COMPOSANT HOMEPARTS.JSX
*/

.home-parts-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.first-image {
  width: 12rem;
  margin: 1.5rem;
}

.second-image {
  width: 20rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.third-image {
  width: 18rem;
  margin: 4rem 0 0.5rem 2.5rem;
}

.text-without-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondary-title {
  background: -webkit-linear-gradient(70deg, v.$orangeColor, v.$gradientColor);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: calc(v.$homeFontSize * 1.5);
  font-family: v.$mainFont;
  text-align: center;
  margin: 0 3rem;
}

.secondary-text {
  font-family: v.$secondaryFont;
  font-size: v.$homeFontSize;
  text-align: center;
  color: v.$greyTextColor;
  margin: 1rem 2rem;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px v.$whiteColor;
  color: v.$whiteColor;
  font-family: v.$secondaryFont;
  font-weight: 500;
  background-color: v.$color1;
  width: 10rem;
  height: 2.5rem;
  border-radius: 25px;
  margin: 1rem;
}

/*
RESPONSIVE
*/

@media (min-width: 480px) {
  .first-image {
    width: 18rem;
    margin-top: 3rem;
  }

  .second-image {
    width: 25em;
  }

  .third-image {
    width: 23rem;
    margin: 4rem 0 -1rem 3rem;
  }

  .secondary-title {
    font-size: calc(v.$homeFontSize * 2);
    margin: 1rem 4rem;
  }

  .secondary-text {
    font-size: calc(v.$homeFontSize * 1.25);
    margin: 1rem 3rem;
  }

  .home-button {
    width: 12rem;
    height: 3rem;
  }
}

@media (min-width: 1200px) {
  .home-parts-content {
    flex-direction: row;
    margin: 5rem 10rem;
  }

  .home-parts-content:nth-child(3) {
    flex-direction: row-reverse;
    margin-top: 7rem;
  }

  .home-parts-content:nth-child(4) {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }

  .first-image {
    width: 24rem;
  }

  .second-image {
    width: 35rem;
  }

  .third-image {
    width: 36rem;
  }

  .secondary-title {
    font-size: calc(v.$homeFontSize * 3);
    margin: 2.5rem 5rem;
  }

  .secondary-text {
    font-size: calc(v.$homeFontSize * 1.5);
    margin: 1.5rem 6rem;
  }

  .home-button {
    width: 15rem;
    height: 4rem;
    margin-top: 2.5rem;
    border-radius: 30px;
    transition: 0.2s;
  }

  .home-button:hover {
    box-shadow: 0 0 1rem v.$whiteColor;
    border-radius: 25px;
  }
}
