@use 'src/styles/variables';

.navbar {
  width: 100vw;
  height: 20vh;
  position: fixed;
  top: 0;
  background-color: variables.$blackColor;
  border-bottom: solid 1px variables.$whiteColor;

  .navbar-first-part {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
    .navbar-logo {
      width: 35%;
      // margin-left: 5%;
    }

      .navbar-second-part {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      .navbar-link {
        color: variables.$whiteColor;
        font-family: variables.$secondaryFont;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        font-size: calc(variables.$homeFontSize / 1.25);
        width: 20%;
        height: 80%;
        background-color: variables.$orangeColor;
      }

        .navbar-link-image {
          width: 50%;
        }
}
