@use '../../styles/variables' as v;

/*
COMPOSANT NAVBAR.JSX
*/

.navbar {
  height: 20vh;
  position: fixed;
  top: 0;
  background-color: v.$blackColor;
  border-bottom: solid 1px v.$whiteColor;

  .navbar-first-part {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
    .navbar-logo {
      width: 35%;
    }

      .navbar-second-part {
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 calc(v.$homeFontSize / 2);
      }

/*
SOUS-COMPOSANT NAVBARLINK.JSX
*/

        .navbar-link {
          color: v.$whiteColor;
          font-family: v.$secondaryFont;
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: column;
          font-size: calc(v.$homeFontSize / 1.25);
          width: 20%;
          height: 80%;
          background-color: v.$orangeColor;
          border-radius: calc(v.$homeFontSize / 4);
        }

          .navbar-link--selected {
            border: solid 1px v.$whiteColor;
          }

            .navbar-link-icon {
              width: 40%;
            }
}

/*
RESPONSIVE
*/
