@use '../../../styles/variables' as v;

/*
COMPOSANT LOGINFORM.JSX
*/

.loginform-content {
  width: 15rem;
  height: 17rem;
  background: linear-gradient(180deg, v.$color3, v.$color1);
  border: 1px solid v.$greyTextColor;
  border-radius: 3px;
  position: fixed;
  right: 0;
  margin: 1rem;

  .loginform-connect-button {
    width: 50%;
    height: 2rem;
    color: v.$whiteColor;
    font-family: v.$secondaryFont;
    font-size: 0.7rem;
    border: none;
    background-color: transparent;
  }

  .loginform-create-button {
    width: 50%;
    height: 2rem;
    color: v.$greyTextColor;
    font-family: v.$secondaryFont;
    font-size: 0.7rem;
    border: 1px solid v.$greyTextColor;
    background-color: v.$color1;
  }

  .loginform-form-content {
    width: 12rem;
    height: 13rem;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .loginform-form-label {
    color: v.$whiteColor;
    font-family: v.$secondaryFont;
    font-size: 0.7rem;
  }

  .loginform-form-input {
    width: 10rem;
    height: 2rem;
    border: 1px solid v.$whiteColor;
    font-family: v.$secondaryFont;
    background-color: transparent;
    padding: 0.5rem;
    font-size: 0.7rem;
    color: v.$whiteColor;
  }

  .loginform-form-input:focus {
    border: 1px solid v.$orangeColor;
  }

  .loginform-form-submit-button {
    width: 6rem;
    height: 2rem;
    margin: 1rem auto 0 auto;
    border: 1px solid v.$whiteColor;
    border-radius: 5px;
    font-family: v.$secondaryFont;
    font-size: 0.7rem;
    background-color: v.$orangeColor;
    color: v.$whiteColor;
  }
}

/*
RESPONSIVE
*/

@media (min-width:768px) {
  .loginform-content {
    width: 16rem;
    height: 19rem;

  .loginform-connect-button {
    height: 2.5rem;
    font-size: 0.8rem;
  }

  .loginform-create-button {
    height: 2.5rem;
    font-size: 0.8rem;
  }

  .loginform-form-content {
    width: 12rem;
    height: 14rem;
  }

  .loginform-form-label {
    font-size: 0.8rem;
  }

  .loginform-form-input {
    width: 11rem;
    height: 2.5rem;
    padding: 0.75rem;
    font-size: 0.8rem;
  }

  .loginform-form-submit-button {
    width: 7rem;
    height: 2.5rem;
    font-size: 0.8rem;
  }
  }
}

@media (min-width:1200px) {
  .loginform-content {
    width: 19rem;
    height: 21rem;

  .loginform-connect-button {
    height: 3rem;
    font-size: 0.9rem;
  }

  .loginform-create-button {
    height: 3rem;
    font-size: 0.9rem;
  }

  .loginform-form-content {
    width: 15rem;
    height: 16rem;
  }

  .loginform-form-label {
    font-size: 0.9rem;
  }

  .loginform-form-input {
    width: 13rem;
    height: 3rem;
    padding: 1rem;
    font-size: 0.9rem;
  }

  .loginform-form-submit-button {
    width: 8rem;
    height: 2.75rem;
    font-size: 0.9rem;
  }
  }
}